.recentWork-show{ top: 0; left: 0; }
.recentWork-hide{ top: -100vh; left: 0; }

#recentWork-section{
    display: flex;
    flex-direction: column;
}

#recentWork-main{
    height: 90vh;
    width: 100vw;
    padding: 30vh 10vw 10vh 10vw;
}

#projects-wrapper{
    height: 56vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.recent-work-element{
    max-width: 30%;
    height: 50%;
    margin: 1vh 0;
    transition: all ease .3s;
}

.recent-work-element:hover {
    transform: scale(1.05);
}

.recent-work-element:hover .recent-work-element-text-container{
    visibility: visible;
}
.recent-work-element-text-container{
    visibility: hidden;
    background: rgba(0,0,0,.5);
    color: rgb(204, 221, 221);
    width: 100%; height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}
.recent-work-element-text-container a{
    font-size: 1.2em;
    color: rgb(204, 221, 221);
}