.resume-element{
    margin: .5vh;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #afafaf;
    font-size: 1em;
    color: #ccc;
}

.resume-element-date{
    width: 32%;  
    font-size: 1.1em;
}

.resume-element-formation-place-wrapper{
    width: 68%;
}

.resume-element-formation{
    font-size: 1.1em;
    font-weight: bold;
}