.resume-element{
    margin: .5vh;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #afafaf;
    font-size: 1em;
}
.resume-element-date{
    color: #ddd;
    font-size: 1em;
    flex-basis: 33%;
}
.resume-element-formation-place-wrapper{
    flex-basis: 33%;
}

.resume-element-job{
    font-size: 1.1em;
    color: #efefef;
    font-weight: bold;
}


.resume-element-place, .resume-element-task{
    color: #efefef;
}
.resume-element-task{
    font-size: .9em;
}

.tasks-wrapper{
    flex-basis: 33%;
}

#resume-job-0{
    padding-right: 50px;
}

#resume-job-1{
    padding-right: 105px;
}