.contact-show{ top: 0; left: 0; }
.contact-hide{ top: 100vh; left: 0; }
#contact-section{
    display: flex;
    flex-direction: column;
}

#contact-main{
    height: 90vh;
    width: 100vw;
}

#contact-title{
    text-align: left;
    margin-left: 10vw;
    margin-bottom: 5vh;
}